* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

#main-table {
  margin-top: 1rem;
  margin-left: 1rem;
  border: 3px solid #333;
  text-transform: uppercase;
  overflow-x: auto;
}

.content {
  display: flex;
}
#main-table > tbody > tr {
  border-bottom: 3px solid #333;
}

#main-table > tbody > tr > td {
  border-right: 3px solid #333;
  padding: 0 0.5rem;
}

#main-table th {
  border-right: 3px solid #333;
}

.small {
  font-size: 0.6rem;
  display: block;
}

.medium {
  font-size: 0.8rem;
}
input {
  text-align: center;
  outline: none;
}

.dotted {
  border-right: 1.5px dashed #333 !important;
}
.primary-output {
  border: none;
  background: transparent;
  cursor: not-allowed;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
}

.secondary-output {
  border: none;
  cursor: not-allowed;
  background: transparent;
  width: 100%;
}

#main-table tr.main-table-row:nth-child(even) {
  background: #cccccc;
  -webkit-print-color-adjust: exact;
}

.results {
  max-width: 80px;
}

.input {
  width: 90%;
}

.flush {
  text-transform: uppercase;
  background: #808080;
  -webkit-print-color-adjust: exact;
  color: white;
  writing-mode: vertical-rl;
  position: relative;
  font-weight: bold;
}

.flush:before {
  content: "30";
  position: absolute;
  bottom: 5px;
  margin-left: 1px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  -webkit-print-color-adjust: exact;
  color: black;
  border-radius: 50%;
  writing-mode: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
}

.flush p {
  margin-bottom: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.part-a,
.part-b,
.bloom {
  color: white;
  font-size: 0.8rem;
  padding: 0.05rem 0.6rem;
}

.part-a {
  background: #3fb34f;
  -webkit-print-color-adjust: exact;
}

.part-b {
  background-color: #1073b9;
  -webkit-print-color-adjust: exact;
}
.bloom {
  background: #bf2932;
  -webkit-print-color-adjust: exact;
}

.bold {
  font-weight: bold;
}

.btn,
.save-pdf {
  height: 34.3px;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0 2rem;
  cursor: pointer;
  font-weight: bold;
}

.greyed-out {
  background: #808080;
  -webkit-print-color-adjust: exact;
}

.total-row {
  height: 2.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.bold-digit {
  font-weight: bold;
  font-size: 1.25rem;
}

.input-row {
  height: 3rem;
}

#main-table > tbody > tr > td.results {
  padding: 0;
}
